@model InstitutionVM

@{
    ViewData["Title"] = "Create Institution";
}

<div class="container mt-4">
    <div class="card card-accent-create shadow-sm">
        <div class="card-header">
            <h5 class="mb-0"><i class="fas fa-university me-2"></i>Add</h5>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="mb-3">
                    <label asp-for="Name" class="form-label fw-semibold"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="Logo" class="form-label fw-semibold">Upload Logo</label>
                    <input class="form-control" type="file" id="Logo" name="logoFile" accept="image/*" onchange="previewLogo(event)" />
                </div>

                <div class="mb-3 text-center">
                    <img id="logoPreview" src="" alt="Logo Preview" class="img-thumbnail shadow-sm" style="display: none; max-height: 200px;" />
                </div>

               
            </form>
        </div>
        <div class="card-footer bg-light d-flex justify-content-between">
            <a asp-action="Index" class="btn btn-icon btn-back" title="All Institutions">
                <i class="fa-solid fa-list"></i>
            </a>
            <button type="submit" class="btn btn-create" title="Create">
                <i class="fas fa-save"></i>
            </button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function previewLogo(event) {
            const file = event.target.files[0];
            const preview = document.getElementById("logoPreview");

            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = "block";
                };
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
                preview.style.display = "none";
            }
        }
    </script>
}
