@model IEnumerable<OptionSetVM>

<select class="form-select">
    <option value="">Select an OptionSet</option>
    @if(Model!=null)
    {
        foreach (var item in Model)
        {
            <option value="@item.Id">@item.Description</option>
        }
    }
</select>