@model Wombat.Common.Models.EPAQuestionFormVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit EPA Self Assessment Form</h1>
<h5>@Model.SpecialityName / @Model.SubSpecialityName</h5>
<h6 class="text-muted">@Model.EPAName</h6>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" id="form">
            <input type="hidden" asp-for="EPAId" />

            <h4>
                <button type="button" class="btn btn-success" id="btnAdd">
                    <i class="fas fa-plus"></i> Create New
                </button>
                Assessment Items
            </h4>
            <hr />

            <div id="collectionContainer" class="sortable-questions">
                @Html.EditorFor(model => model.Questions)
            </div>

            <div class="form-group mt-4">
                <a asp-action="Index" class="btn btn-dark">Back to List</a> &nbsp;
                <input type="submit" value="Save Changes" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $(".sortable-questions").sortable({
                handle: ".drag-handle",
                update: function () {
                    // Re-index DisplayIds on sort
                    $(".sortable-questions").children().each(function (index) {
                        $(this).find("input[name$='.DisplayId']").val(index + 1);
                        $(this).attr("data-display-id", index + 1); // Keep delete logic in sync
                    });
                }
            });
        });

        $("#btnAdd").on('click', function () {
            $.ajax({
                async: true,
                data: $('#form').serialize(),
                type: "POST",
                url: '/EPAQuestionForms/AddQuestion',
                success: function (partialView) {
                    $('#collectionContainer').html(partialView);
                    // Scroll to the bottom and animate the new item
                    const lastRow = $('#collectionContainer').children().last();
                    lastRow.css('background-color', '#e0f7fa');
                    setTimeout(() => lastRow.css('background-color', ''), 1200);
                    lastRow.hide().slideDown(300);
                    $('html, body').animate({
                        scrollTop: lastRow.offset().top - 100
                    }, 300);
                }
            });
        });

        $(document).on('click', '.btnDelete', function () {
            const parentDiv = $(this).closest('#inputFormRow');
            const displayId = parentDiv.data("display-id");

            $.ajax({
                data: $('#form').serialize() + '&displayId=' + displayId,
                type: "POST",
                url: '/EPAQuestionForms/DeleteQuestion',
                success: function (partialView) {
                    parentDiv.css('background-color', '#f8d7da');
                    // Fade out and remove the block first
                    parentDiv.fadeOut(300, function () {
                        // Replace all with updated list
                        $('#collectionContainer').html(partialView);
                    });
                }
            });
        });
    </script>
}
