@model DashboardVM

@{
    ViewData["Title"] = "Home Page";
}

@if(User.IsInRole(Roles.Trainee))
{
    <partial name="TraineeHome.cshtml" model="@Model"/>
}
else if (User.IsInRole(Roles.Assessor))
{
    <partial name="AssessorHome.cshtml" model="@Model" />
}
else
{
    <div class="text-center">
        <h1 class="display-4">Home</h1>
        <p>Placeholder for future dashboard.</p>
    </div>
}
