@model DashboardVM

@{
    ViewData["Title"] = "Trainee Dashboard";
}

<div class="row mb-4">
    <div class="col">
        <partial name="_ScheduleAssessment" model="Model" />
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <partial name="_EPAProgressTracker" model="Model" />
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <partial name="_PortfolioBuilder" model="Model" />
    </div>
</div>
