@model SpecialityVM

@{
    ViewData["Title"] = "Speciality Details";
}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-info text-white">
            <h4 class="mb-0">Speciality Details</h4>
        </div>

        <div class="card-body">
            <dl class="row mb-0">
                <dt class="col-sm-3 fw-semibold">Name</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-3 fw-semibold align-self-start">Subspecialities</dt>
                <dd class="col-sm-9">
                    @if (Model.SubSpecialities != null && Model.SubSpecialities.Any())
                    {
                        <ul class="list-group list-group-flush">
                            @foreach (var sub in Model.SubSpecialities)
                            {
                                <li class="list-group-item px-0 py-1">
                                    @Html.DisplayFor(modelItem => sub.Name)
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span class="text-muted fst-italic">None</span>
                    }
                </dd>
            </dl>
        </div>

        <div class="card-footer d-flex justify-content-between">
            <a asp-action="Index" class="btn btn-dark">
                <i class="fas fa-arrow-left"></i> Back to List
            </a>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
                <i class="fas fa-pencil-alt"></i> Edit
            </a>
        </div>
    </div>
</div>
