<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-stethoscope"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Wombat</div>
    </a>

    <hr class="sidebar-divider my-0" />

    <li class="nav-item">
        <a class="nav-link" asp-controller="Home" asp-action="Index">
            <i class="fas fa-home"></i>
            <span>Home</span>
        </a>
    </li>

    @if (User.IsInRole(Roles.Assessor))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="LoggedAssessments" asp-action="CreateFromList">
                <i class="fas fa-clipboard-check"></i>
                <span>Log Assessment</span>
            </a>
        </li>
    }

    @if (User.IsInRole(Roles.Coordinator))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="LoggedAssessments" asp-action="PortfolioIndex">
                <i class="fas fa-folder-open"></i>
                <span>Portfolios</span>
            </a>
        </li>
    }

    @if (User.IsInRole(Roles.Assessor) || User.IsInRole(Roles.Trainee))
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="LoggedAssessments" asp-action="MyAssessments">
                <i class="fas fa-list-alt"></i>
                <span>My Assessments</span>
            </a>
        </li>
    }

    @if (User.IsInRole(Roles.Administrator))
    {
        <hr class="sidebar-divider" />
        <div class="sidebar-heading">Management</div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmin" aria-expanded="true" aria-controls="collapseAdmin">
                <i class="fas fa-tools"></i>
                <span>Admin Tools</span>
            </a>
            <div id="collapseAdmin" class="collapse" aria-labelledby="headingAdmin" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" asp-controller="Institutions" asp-action="Index">Institutions</a>
                    <a class="collapse-item" asp-controller="Specialities" asp-action="Index">Specialities</a>
                    <a class="collapse-item" asp-controller="SubSpecialities" asp-action="Index">Subspecialities</a>
                    <a class="collapse-item" asp-controller="AssessmentForms" asp-action="Index">Assessment Forms</a>
                    <a class="collapse-item" asp-controller="EPAs" asp-action="Index">EPAs</a>
                    <a class="collapse-item" asp-controller="LoggedAssessments" asp-action="Index">Assessments</a>
                    <a class="collapse-item" asp-controller="WombatUsers" asp-action="Index">Users</a>
                    <a class="collapse-item" asp-controller="OptionSets" asp-action="Index">Response Options</a>
                </div>
            </div>
        </li>
    }

    <hr class="sidebar-divider d-none d-md-block" />

    <!-- Sidebar Toggler -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->