@model IEnumerable<WombatUserVM>

@{
    ViewData["Title"] = "Create";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="LogAssessmentFor" asp-route-id="@item.Id"><i class="fa-solid fa-clipboard-check"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

