@model LoggedAssessmentVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LoggedAssessment</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TraineeId" class="control-label"></label>
                <select asp-for="TraineeId" class="form-select" asp-items="ViewBag.Trainee"></select>
                <span asp-validation-for="TraineeId" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="AssessorId" class="control-label"></label>
                <select asp-for="AssessorId" class="form-select" asp-items="ViewBag.Assessor"></select>
                <span asp-validation-for="AssessorId" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="EPAId" class="control-label"></label>
                <select asp-for="EPAId" class="form-select" asp-items="ViewBag.AssessmentContext"></select>
                <span asp-validation-for="EPAId" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="AssessmentDate" class="control-label"></label>
                <input asp-for="AssessmentDate" class="form-control" />
                <span asp-validation-for="AssessmentDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a asp-action="Index" class="btn btn-dark">Back to List</a> &nbsp;
                <input type="submit" value="Save Changes" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>


