@model LoggedAssessmentVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LoggedAssessment</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="StartAssessment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TraineeId" class="control-label"></label>
                <select asp-for="TraineeId" class="form-select" asp-items="ViewBag.Trainee"></select>
            </div>
            <div class="form-group">
                <label asp-for="AssessorId" class="control-label"></label>
                <select asp-for="AssessorId" class="form-select" asp-items="ViewBag.Assessor"></select>
            </div>
            <div class="form-group">
                <label asp-for="AssessmentContextId" class="control-label"></label>
                <select asp-for="AssessmentContextId" class="form-select" asp-items="ViewBag.AssessmentContext"></select>
            </div>
            <div class="form-group">
                <label asp-for="AssessmentDate" class="control-label"></label>
                <input asp-for="AssessmentDate" class="form-control datepicker" />
                <span asp-validation-for="AssessmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-dark">Back to List</a> &nbsp;
                <input type="submit" value="Create" class="btn btn-primary" /> 
            </div>
        </form>
    </div>
</div>


