@model EPAFormVM

<div id="inputFormRow_@Model.DisplayId" class="row g-2 align-items-center inputFormRow mb-2">
    <input type="hidden" asp-for="DisplayId" class="display-id" />
    <input type="hidden" asp-for="EPAId" />
    <input type="hidden" asp-for="Id" />

    <div class="col">
        <select class="form-select" asp-for="FormId">
            <option value="">-- Select Form --</option>
            @foreach (var item in (List<AssessmentFormVM>)ViewData["Forms"])
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="FormId" class="text-danger small"></span>
    </div>

    <div class="col-auto">
        <button type="button" class="btn btn-icon btn-delete btn-sm" id="btnDelete" title="Delete Form">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>
</div>
