@model OptionCriterionVM

<div class="input-group col-md-12" id="inputFormRow">
    <div id="DisplayId" value=@Model.DisplayId></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="DisplayId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input style="width: 10%" asp-for="Rank" class="form-control m-input" placeholder="Rank" autocomplete="off" required>
    <input style="width: 40%" asp-for="Description" class="form-control" placeholder="Option name" />
    <select style="width: 40%" asp-for="OptionSetId" class="form-control">
        <option value="">-- Select a response option set --</option>
        @foreach (var option in OptionCriterionVM.OptionsSets)
        {
            <option value="@option.Id">@option.Description</option>
        }
    </select>
    <button style="width: 10%" type="button" class="btn btn-danger" id="btnDelete"><i class="far fa-trash-alt"></i></button>
    <span asp-validation-for="Description" class="text-danger"></span>
    <span asp-validation-for="OptionSetId" class="text-danger"></span>
    <span asp-validation-for="Rank" class="text-danger"></span>
</div>
<br />

