@model SubSpecialityVM

<div class="d-flex align-items-center justify-content-between mb-2 inputFormRow" id="inputFormRow_@Model.DisplayId">
    <div class="flex-grow-1 me-2">
        <input type="hidden" asp-for="DisplayId" class="display-id" />
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="CanEditAndDelete" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @if (Model.CanEditAndDelete)
        {
            <input asp-for="Name" class="form-control" placeholder="Subspeciality name" />
        }
        else
        {
            <input asp-for="Name" class="form-control" placeholder="Subspeciality name" readonly />
        }

        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    @if (Model.CanEditAndDelete)
    {
        <button type="button" class="btn btn-icon btn-delete" id="btnDelete" title="Delete">
            <i class="fas fa-trash-alt"></i>
        </button>
    }
</div>

