@model EnumCriterionVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EnumCriterion</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <div id="inputFormRow" style="width: 35%">
                    <div class="input-group mb-3">
                        <br />
                        <div class="input-group-append"></div>
                    </div>
                </div>
                <div id="newRow">
                    <input type="hidden" id="totalLans" value="0" />
                </div>
                <button id="addRow" type="button" class="btn btn-info">Add Network</button>    
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{
    <script>

        $("#addRow").click(function () {

            var rowCount = parseInt($("#totalLans").val());
            rowCount++;
            $("#totalLans").val(rowCount);
            var html = '';
            html += '<div id="inputFormRow" style="width: 35%">';
            html += '<div class="input-group mb-3">';

            //change id attribute to name attribute and modify the name
            html += '<input type="text" name="answer[' + (rowCount - 1) + '].AnswerText" class="form-control m-input" placeholder="AnswerText" autocomplete="off" style="width: 30%" required>';
            html += '<input type="text" name="answer[' + (rowCount - 1) + '].Class" class="form-control m-input" placeholder="Class" autocomplete="off" style="width: 30%" required>';
            html += '<div class="input-group-append">';
            html += '<button id="removeRow" type="button" class="btn btn-danger" style="margin-right: 5px">Remove Network</button>';
            html += '</div>';
            html += '</div>';

            $('#newRow').append(html);

        });

        $(document).on('click', '#removeRow', function () {
            var rowCount = parseInt($("#totalLans").val());
            rowCount--;
            $("#totalLans").val(rowCount);
            $(this).closest('#inputFormRow').remove();
        });

        $(document).ready(function () {
            $("#createButton").click(function () {
                var inputData = $('form').serializeArray();
                $.ajax(
                    {
                        type: "POST", //HTTP POST Method
                        url: "Home/Create", // Controller/View
                        data: inputData,
                        success: function (response) {
                            console.log(response)
                        }
                    });

            });
        });
    </script>
}

